@charset "utf-8";
/* CSS Document */
body{font-family:"Microsoft YaHei"}
.clear_float{ clear:both;}
#menu { margin: 0; padding: 0; position: fixed; right:50px; bottom:100px; list-style-type: none; z-index: 70;}
#menu li { margin:  0 10px 0 0;}
#menu a { text-decoration: none; display:block; width:10px; height:10px; border-radius:50%; background:#fff; margin-top:10px;}
#menu .active a { color: #fff; background-color:#539dd6;}

.section { text-align: center; font: 50px "Microsoft Yahei"; color: #000; position: relative; overflow: hidden; z-index: 100;}
.section h3{ color:#FFF; font-size:40px;}
.section p{ color:#ffffff; margin-top:20px;}
.fix_right{ width:67px; height:200px; position:fixed; right:90px; top:110px; z-index:9999;}
.dianhua{ width:180px; height:65px; background:url(../image/bq_click.png) no-repeat; position:fixed; right:180px; top:110px;
 z-index:9999; font-size:24px; line-height:65px; color:#FFF; text-align:center; display:none;}
.dianhua_cont:hover .dianhua{ display:block;}
/*1*/
.one{ background:url(../image/chone_01.jpg) no-repeat center; background-size: 100% 100%;}
.one_neirong{ width:100%; height:100%; min-width:1000px; }
.one_nr{ width: 100%; position: absolute; top: 38%; text-align:center; -webkit-transform:scale(0.5, 0.5); transform:scale(0.5, 0.5); transition: all 1s; opacity:0;}
.canvas { width: 100%; height: 100%;}
/*2*/
.two{ background:url(../image/two_bg.jpg) no-repeat center; background-size:100% 100%;}
.two_title{ position:absolute; left:50%; top:10%; margin-left:-356px; -webkit-transform:scale(0.5, 0.5); transform:scale(0.5, 0.5); transition: all 1s; opacity:0; }
.xia{ width:1130px; margin:0 auto; min-width:1130px;}
.two_liucheng{ position:absolute; left:50%; bottom:20%; margin-left:-509px; transition: all 1s; opacity:0; bottom:-40%;}
.xia ul li{ width:210px; cursor:pointer;}
.xia ul li img{ margin:0 auto;}
.xia ul li p{ color:#66afe1;}
.position_relative_bottom50{ position:relative; bottom:50px;}
.we1{ width:70%; background:#3FF; height:500px; margin:0 auto;}
/*3*/
.three{ background:url(../image/three_bg.jpg) no-repeat center; background-size:100% 100%;}
.three_title{ position:absolute; left:50%; top:10%; margin-left:-256px; -webkit-transform:scale(0.5, 0.5); transform:scale(0.5, 0.5); transition: all 1s; opacity:0;}
.three_xian{ width:75px; height:10px; border-bottom:2px solid #e3e8f0; border-top:2px solid #e3e8f0; margin:0 auto;}
.centery{ position:absolute; left:50%; bottom:25%; width:565px; text-align:left; margin-left:-608px; transition: all 1s; opacity:0; margin-left:-1208px;}
.centery p{ line-height:35px;}
.three_nr{ margin-top:110px;}
.three_img{ position:absolute; left:50%; bottom:20%; margin-left:150px; transition: all 1s; opacity:0; margin-left:808px;}
/*4*/
.four{ background:#f2f2f4 !important;}
.four_nr{ width:588px; padding-top:140px;}
.four_nr p{ text-align:left; line-height:40px;}
/*5*/
.five{ background:url(../image/five_bg.jpg) no-repeat center; background-size:100% 100%;}
.img_left{ position:absolute; left:50%; bottom:20%; margin-left:-608px; transition: all 1s; opacity:0; margin-left:-1208px;}
.wen_right{ position:absolute; left:50%; bottom:25%;  width:565px; margin-left:150px; transition: all 1s; opacity:0; margin-left:808px; }
.five_nr p{ text-align:left; line-height:40px;}
.five_p_one{ text-align:right; padding-bottom:50px;}
/*6*/
.sex_p_one{ padding-bottom:50px; margin-top:100px;}
/*7*/
.seven{background:url(../image/seven_bg.jpg) no-repeat center; background-size:100% 100%;}
.seven_p_one{ text-align:right !important;}
/*8*/
.eit_nr{ width:1270px;   margin:0 auto;}
.eit_left{ margin-top:170px;}
.eit_left p{ text-align:left; width:514px; letter-spacing:5px; line-height:40px;}
/*9*/
.nice{ background:url(../image/nice_top.jpg) no-repeat top center; }
.nice_xian{ width:75px; height:10px; border-top:2px solid #e9e8e7; border-bottom:2px solid #e9e8e7; margin:25px auto 95px auto;}
.nice_nr{ width:285px; margin:0 auto; padding-top:65px;}
.nice_p_one{ color:#68b2e1 !important; margin-bottom:40px;}
.nice_p_two{ color:#999999 !important; text-align:left; line-height:30px;}
.nice_xia{ width:1046px; height:543px; margin:0 auto; position:relative;}
.nice_size{ width:370px; height:503px; background:#fcfdfd;}
.color_68b2e1{ color:#68b2e1 !important;}
/*10	demo演示*/
.demo{}
.demo_title{ margin:0px !important; color:#000 !important;}
	/*弹框*/
.demo_alert{ width:542px; height:408px; background:rgba(0,0,0,0.9); position:absolute; top:50%; left:50%; margin:-204px 0 0 -271px; display:none; border:6px solid #4d4642; z-index: 100;}
.close{ height:31px; margin:25px 0 25px 0;}
.colse_img{ width:31px; height:31px; float:right; margin-right:25px;}
.demo_alert p{ width:390px; margin:0 auto; text-align:left; color:#d3d3d3; font-size:16px; line-height:32px;}
.submitt{ width:135px; height:42px; border:none; background:#186db1; color:#FFF; font-size:18px; border-radius:5px;}
.inp_alert{ width:282px; height:42px; border-radius:5px; border:none; text-indent:24px;}
	/*弹框结束*/
.demo_xian{ width:75px; height:10px; border-top:2px solid #dcdbdc; border-bottom:2px solid #dcdbdc; margin:34px auto 65px auto;}
.demo_lanxian{ width:1150px; height:11px; margin:0 auto; background:#2979bf;}
.demo_xia{ width:1046px; height:440px; background:#ffffff; margin:2px auto 15px auto; border:1px solid #f5f4f5;}
.demo_xia_auto{ width:940px; height:355px; margin:0 auto; margin-top:35px; }
	/*文件基本信息*/
.demo_xia_auto_left{ width:490px; height:100%; background:#ffffff; float:left; position:relative;}
.bian{ border-bottom:3px solid #e8e8e8;}
.p_text_aling{ width:100%; height:49px; line-height:49px; text-align:left;}
.left_type{ width:80px; float:left; margin-left:10px;}
.left_type li{ height:55px; line-height:55px; font-size:14px; text-align:left; }
.right_type{ float:left;}
.right_type li{ height:55px; line-height:55px; text-align:left; font-size:14px;}
.cichun{ display: inline-block; padding: 0 3px; height:24px; border:1px #f2b86e dashed; background:#fef7f1; text-align:center; line-height:24px; margin-top:14px;}
.chenghao{ display:block; width:28px; height:24px; text-align:center;}
.baifen{ display:block; width:60px; height:30px; background:#eaeae3; border:1px solid #cecec8; text-align:center; line-height:30px; margin-top:15px;}
	/*上传文件内容*/
.demo_xia_auto_right{ width:430px; height:100%; position: relative; background:#f4f4f4; float:right; border:3px solid #f0f0f0;}
.demo_xia_auto_right p{ color:#a8a2a1;}
.demo_xia_auto_right_nr{ width:300px; margin:0 auto;}
.danwei_p{ color:#a8a2a1 !important; padding-left:80px !important;}
.danwei{ display:block; width:30px; height:22px; margin-right:10px; float:left; border:1px solid #CCC; color:#a8a2a1; cursor:pointer;}
.danwei_click{ border:1px solid #2174b8;}

.shangchuan,.baifen_but{ width:200px; height:50px; line-height: 50px; background:#2273b6; color:#FFF; font-size:18px; border:none; display: block; margin: 17px auto 0 auto;}
.shangchuan:hover,.baifen_but:hover{ background-color: #09528c; color:#fff;}
.baifen_but{ height:30px; width:120px; font-size:16px; top:256px; left:507px; position:absolute; z-index:10; line-height:30px; display:none;}

	/*demo2*/
.demo_xia2{ width:1046px; height:420px; background:#fff; border:1px solid #f5f4f5; margin:0 auto;}
.demo_xia2_top{ width:930px; height:165px; margin:0 auto; padding:1px;}
.left_click{ width:31px; height:31px; background:url(../image/left_click.png) no-repeat; margin-top:20px;}/*左边箭头*/
.center_demo{ width:250px; height:67px; background:url(../image/moren.png) no-repeat;  }/*内容*/
.click_demo{ background:url(../image/xuanzhong.png) no-repeat;}/*选中背景*/
.center_demo p{ color:#323333; font-size:14px;}
.center_demo span{ color:#ee791c !important; font-size:14px;}
.right_click{ width:31px; height:31px; background:url(../image/right_click.png) no-repeat; margin-top:20px;}/*右边箭头*/
.dian{ width:50px; margin:0 auto; margin-top:35px;}
.demo_xia2_ul li{ width:10px; height:10px; border-radius:50%; border:1px solid #f0f0f0;}
.bulr{ background:#2274b7;}/*3个点的选中颜色*/
.tx{ float:left; margin:3px 0 0 3px;}/**/
.tx_color_yellow{ border:#f39c54 solid 3px;}
.tx_color_grly{ border:solid 3px #eeeeed;}
.tx2{ float:left; margin:1px 0 0 1px; }
.demo_xia2_bottom{ width:695px; height:125px; margin:0 auto; margin-top:50px;}
.cailiao li{ border-radius:8px; margin-right:20px; line-height:38px; cursor:pointer;} 
.jia_jian{ width:23px; height:21px; border:none; border-radius:5px; font-size:16px;} /*-*/
.jia_jia{ width:23px; height:21px; border:none; border-radius:5px; font-size:16px;} /*+*/
.shoping{ width:167px; height:51px; background:#2174b8; border:none; border-radius:10px; font-size:16px; color:#FFF;}

/*show*/
.show{ background:url(../image/show_bg.jpg) no-repeat center; background-size:100% 100%;}
.show_time{ width:1050px; margin:0 auto; -webkit-transform:scale(0.5, 0.5); transform:scale(0.5, 0.5); transition: all 1s; opacity:0;}
.xian_top{ width:100%; height:130px; position: relative; top: 41px; }
.xian_top li{ font-size:13px; width:215px; text-align:right; color:#ffffff; line-height:26px; margin-right:5px;}
.title{ font-size:17px !important;}
.top_shu { width:75px;}
.yuan_type{ width:100%; height:82px;}
.yuan_type li{ width:82px; height:82px; float:left; margin-right:80px; font-size:13px; text-align:center; line-height:82px; position:relative; top:41px;}
		/*背景图片*/
	.type_li1{  background:url(../image/hould1.png) no-repeat; color:#f08d4c;}
	.type_li2{  background:url(../image/hould2.png) no-repeat; color:#37b9c0;}
	.type_li3{  background:url(../image/hould3.png) no-repeat; color:#e95892;}
	.type_li4{  background:url(../image/hould4.png) no-repeat; color:#5895cc;}
	.type_li5{  background:url(../image/hould5.png) no-repeat; color:#37b16b;}
	.type_li6{  background:url(../image/hould6.png) no-repeat; color:#f4d66d;}
.show_xian{ width:1050px; height:7px; background:#16465c; border-radius:3px;}
.xian_xia{width:100%; height:130px; margin-top:34px;}
.xian_xia li{ font-size:13px; width:220px; text-align:left; color:#ffffff; line-height:26px; margin-right:25px;}
.xia_shu{ width:75px; height:160px;}
/*fuwu*/
.fuwu_title{ position:absolute; left:50%; top:15%; margin-left:-256px; -webkit-transform:scale(0.5, 0.5); transform:scale(0.5, 0.5); transition: all 1s; opacity:0; }
.fuwu_liucheng{ width:1050px; height:300px; position:absolute; left:50%; bottom:20%; margin-left:-509px; transition: all 1s; opacity:0; bottom:-40%;}
.title_donghua{ -webkit-transform:scale(0.5, 0.5); transform:scale(0.5, 0.5); transition: all 1s; opacity:0;}
.fuwu_liucheng ul li{ width:239px; float:left;}
.li_top{ width:239px; height:239px; background:url(../image/fuwu_bg.png) no-repeat;  padding:1px;}
.li_top div{ margin-top:90px; font-size:40px !important; color:#FFF;}
.fuwu_liucheng ul li p span{ position:relative; top:-7px; margin-left:15px;}
/*倒数第二版*/
.last_two{background:url(../image/last_one.jpg) no-repeat center; background-size:100% 100%; padding-top:-280px;}
.last_title{ position:relative; top:-256px; -webkit-transform:scale(0.5, 0.5); transform:scale(0.5, 0.5); transition: all 1s; opacity:0;}
.zhunbei_p{ width:1005px; height:86px; text-align:center; line-height:86px; margin:0 auto; background:url(../image/zhunbei_pbg.png) no-repeat;}
/*最后一张*/
.last{ background:url(../image/bq_bg.jpg) no-repeat center; background-size:100% 100%; overflow:hidden; display:block;}
.last_one_title{ -webkit-transform:scale(0.5, 0.5); transform:scale(0.5, 0.5); transition: all 1s; opacity:0;}
.two_xian{ width:75px; height:5px; border-top:1px solid #d5d5d7; border-bottom:1px solid #d5d5d7; margin:0 auto; margin-top:40px;}
.foot_div{ width:442px; margin:0 auto; padding-top:100px;}
.from_inp{ margin-top:13px;}
.from_inp span { color:#186db1; line-height:50px; float:left; font-size:20px !important;  }
.inp_text{ width:335px; height:50px; background:rgba(255,255,255,0.6); border-radius:5px; border:1px solid #f2f2f4; text-indent:23px; line-height:50px; font-size:14px; color:#003;}
.but_submit{ display:block; width:162px; height:51px; line-height:51px; background:#1c6eb0; color:#FFF; font-size:20px; border-radius:5px; margin:30px auto;}
.bq{ width:1060px; height:53px; border-top:1px solid #e7e7e8; margin:0 auto; line-height:53px; margin-top:150px;}
.bq span{ color:#186db1;}

/*字号和颜色*/
.color_active{ border:2px solid #000;}
.text_width{letter-spacing:10px;}
.font_size_40{ font-size:40px !important;}
.font_size_48{ font-size:48px !important;}
.font_size_30{ font-size:30px !important;}
.color_323333{ color:#323333 !important;}
.color_ad{  color:#adadad !important;}
.color_2768a9{ color:#2768a9 !important;}
.color_0f0f0f{ color:#0f0f0f !important;}
.color_dfe0e2{ color:#dfe0e2 !important;}
.color_adadac{ color:#adadac !important;}
.color_1a5c92{ color:#1a5c92 !important;}
.color_0f{ color:#0f0f0f !important;}
.color_1a6db1{ color:#1a6db1 !important;}
.xiadan_color{ color:#3374b5 !important;}
.m_left{ margin-left:75px;}

/*窗口小于760px时*/
@media only screen and (max-height : 760px) {
	.demo_title{ display:none;}
	.demo_xia{ height:340px; margin: 0px auto 7px auto;}
	.demo_xia_auto { height:300px; margin-top:10px;}
	.demo_xia2{ height:240px;}
  	.demo_xia2_top{ height: 100px; overflow: hidden; }
	.demo_xia2_bottom{ margin-top:0;}
	.two_liucheng .m_t_90{ transform:scale(0.8,0.8); margin-top:220px;}
	.active .two_liucheng{ bottom:7% !important;}
	.three_nr{transform:scale(0.8,0.8); margin-top:320px;}
	.screen_cont{transform:scale(0.8,0.8); margin-top:220px;}
	.active .screen_cont .three_img{ margin-left:0px !important;}
	.active .screen_cont .wen_right{ margin-left:-50px !important; text-align:right;}
	.active .screen_cont .three_img.t_300{ top:-300px; bottom: auto;}
	.active .screen_cont .three_img.t_400{ top:-400px; bottom: auto;}
	.active .screen_cont .three_img.t_500{ top:-500px; bottom: auto;}
	.active .screen_cont .img_left.t_300{ top:-450px; bottom: auto;}
	.active .screen_cont .img_left.t_400{ top:-420px; bottom: auto;}
	.active .screen_cont .wen_right.w_360{ margin-left:90px !important; bottom:36% !important; width:420px;}
	.flipster-carousel .flip-items{transform:scale(0.8,0.8); margin-top:-120px;}
	.demo_lanxian{ display:none;}
	.demo_xia2 .demo_xia2_top .m_t_50{ margin-top:10px;}
	.demo_xia2 .demo_xia2_top .m_t_50 .m_t_50{ margin-top:17px;}
	.active .show_time{ position:relative; left:50%; margin:0 0 0 -525px; bottom:17%;}
	.fuwu_title{ top:10%;}
	.active .fuwu_liucheng{ bottom:15% !important;}
	.active .last_title{ top:-100px !important;}
	.foot_div{ padding-top:20px;}
	.bq{ margin-top:20px;}
	
} 

/*动画*/
.active .one_nr{ opacity:1; -webkit-transform:scale(1, 1); transform:scale(1, 1); transition-delay: 0.6s;}

.active .centery{ opacity:1; margin-left:-608px; transition-delay: 0.6s;}
.active .three_img{ opacity:1; margin-left:150px; transition-delay: 0.6s;}
.active .two_title{ opacity:1; -webkit-transform:scale(1, 1); transform:scale(1, 1); transition-delay: 0.6s;}
.active .two_liucheng{ opacity:1; bottom:20%; transition-delay: 0.6s;}
.active .three_title{ opacity:1; -webkit-transform:scale(1, 1); transform:scale(1, 1); transition-delay: 0.6s;}
.active .img_left{ opacity:1; margin-left:-608px; transition-delay: 0.6s;}
.active .wen_right{ opacity:1; margin-left:150px; transition-delay:0.6s;}
.active .last_title{ opacity:1; -webkit-transform:scale(1, 1); transform:scale(1, 1); transition-delay: 0.6s;}
.active .last_one_title{ opacity:1; -webkit-transform:scale(1, 1); transform:scale(1, 1); transition-delay: 0.6s;}
.active .title_donghua{ opacity:1; -webkit-transform:scale(1, 1); transform:scale(1, 1); transition-delay: 0.6s;}
.active .fuwu_title{ opacity:1; -webkit-transform:scale(1, 1); transform:scale(1, 1); transition-delay: 0.6s;}
.active .fuwu_liucheng{ opacity:1; bottom:20%; transition-delay: 0.6s;}

.active .show_time{ opacity:1; -webkit-transform:scale(1, 1); transform:scale(1, 1); transition-delay: 0.6s;}

/*第九章页面效果*/
.Button {
  display: inline-block;
  background:#FFF;
  border:1px solid #CCC;
}
.Button:hover {
  background:url(../image/nice_hover_bg.png) no-repeat;
  background-color:#FFF;
  z-index:9999;
}
.nice_size:hover { background:url(../image/nice_hover_bg.png) no-repeat;
  background-color:#FFF;
  z-index:9999;
}
  
.Button.Block {
  width: 370px;
  height: 503px;
}
.Button h1 {
  font-size: 16px;
  line-height: 1.25em;
}
.flipster{ width:100%; height:543px;}
.flipster-carousel .flip-current {
    z-index: 999;
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transition-delay: 58.333333333333336ms;
    -moz-transition-delay: 58.333333333333336ms;
    -o-transition-delay: 58.333333333333336ms;
    transition-delay: 58.333333333333336ms;
}
.flipster-carousel .flip-prev {
    -webkit-transform: translateX(-90%) translateZ(0) rotateY(0deg) scale(1);
    -moz-transform: translateX(-90%) translateZ(0) rotateY(0deg) scale(1);
    -o-transform: translateX(-90%) translateZ(0) rotateY(0deg) scale(1);
    -ms-transform: translateX(-90%) translateZ(0) rotateY(0deg) scale(1);
    transform: translateX(-90%) translateZ(0) rotateY(0deg) scale(1);
}
.flipster-carousel .flip-next {
    -webkit-transform: translateX(90%) translateZ(0) rotateY(0deg) scale(1);
    -moz-transform: translateX(90%) translateZ(0) rotateY(0deg) scale(1);
    -o-transform: translateX(90%) translateZ(0) rotateY(0deg) scale(1);
    -ms-transform: translateX(90%) translateZ(0) rotateY(0deg) scale(1);
    transform: translateX(90%) translateZ(0) rotateY(0deg) scale(1);
}
.flipster-carousel .flip-current{ position:absolute; top:40px;}

.mainwrap{ margin: 0px auto; visibility: visible; font-size: 18px;}
.cjcwrap{ float: left; position: relative; display: inline-block; height: 435px; width: 435px; background:#fff;}
.cjcdrag{position: absolute; height: 100px; width: 350px; text-align: center; top: 139.5px; left: 14.5px;}
.titlet1{font:20px Arial;color:#343434;}
.titlet2{font:14px Arial;color:#3434AB;cursor:pointer;}
.cjcpbar{display: none; position: absolute; height: 50px; width: 350px; text-align: center; top: 127px; left: 14.5px;}
.pgt1{font:15px Arial;color:#343478;}
.fcancel{text-decoration:underline;cursor:pointer;}
.cjcproc{display: none; position: absolute; height: 50px; width: 350px; text-align: center; top: 127px; left: 14.5px;}
.prt1{font:15px Arial;color:#343478;}
.cjc{display: none; position: absolute; left: 0px; top: 0px; margin: 0px auto; text-align: center;width: 435px; height: 100%;}
.cjc canvas{ width: 430px; height: 100%; position: absolute; top: 0; left: 0; background:#e0eaf1;}
.statswrap_cont{width:280px; height: 435px; overflow:hidden;}
.ifilename{visibility: visible; font-size: 18px; padding: 0 10px;}
.bg{ background:#e0eaf1;}
.fileselect{ display: none; }

.demo_xia2_top_cont{ width: 840px; overflow: hidden; float: left; height: 67px; position:relative;}
.demo_xia2_top_ul{ width: 350%; position: absolute; left: 0px; top: 0px;}

.up_hint{top: 50%; left: 50%; height: 40px; display: inline-block; z-index: 1; position: absolute; margin-top: -20px; line-height: 40px; padding: 0 20px 0 45px; background: url(../image/up_hint.png) no-repeat 10px 0 #fff ;}
.site_uppop{width:100%;position:fixed; _position:absolute;top:0px;_top: expression(eval((document.body.clientHeight-document.documentElement.clientHeight)>document.documentElement.scrollTop?document.documentElement.scrollTop:(document.body.clientHeight-document.documentElement.clientHeight))); height: expression(eval(document.documentElement.clientHeight)); height:100%; z-index:1003; top:0px; left:0px; display:none;}
.site_uppop_bg{ width:100%; height:100%;height: expression(eval(document.documentElement.clientHeight));background:#000; position:absolute; top:0px; left:0px; opacity:0.3;-moz-opacity:0.3; filter:alpha(opacity=30);}
.site_uppop_cont{ width:714px; height:393px; position:absolute; z-index:2; border:3px solid #dbdbdb; background-color:#fff; top:50%; left:50%; margin:-199px 0 0 -360px}
.site_uppop_cont_title{ height:60px; border-bottom:1px solid #dddddd; padding:0 20px; line-height:60px; font-size:18px; font-weight:inherit;}
.site_uppop_close{ width:60px; height:60px; position:absolute; right:0px; top:0; border-left:1px solid #dddddd; background:url(../image/site_uppop_close.png) no-repeat;}
a.site_uppop_close:hover{ background-color:#f5f5f5;}
a.site_uppop_close:active{ background-color:#ececec;}
.site_uppop_input{ height:30px; margin-bottom:20px;}
.site_uppop_input .ui-selectmenu-button{ float:left;}
.site_uppop_input_title{ width:105px; height:30px; margin-right:20px; line-height:30px; float:left; text-align:right;}
.site_uppop_input .input_cont{ float:left;}
.site_uppop_button{ width:330px; margin:0 auto; padding-top:20px; overflow:hidden;}


